.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.php export-ignore
code_of_conduct.md export-ignore
package-lock.json export-ignore
package.json export-ignore
spark export-ignore

/.devcontainer/ export-ignore
/.github/ export-ignore
/docs/ export-ignore
