.vscode/

# abaikan yang dihasilkan dari composer
vendor/*
composer.lock

# jangan abaikan composer autoload
!vendor/composer
!vendor/autoload.php

# jangan abaikan vendor/vlucas/phpdotenv
!vendor/vlucas/
vendor/vlucas/phpdotenv/*
!vendor/vlucas/phpdotenv/src

# jangan abaikan system dari codeigniter
!vendor/codeigniter
vendor/codeigniter/framework/*
!vendor/codeigniter/framework/system

.env
