.vscode/
.env

# abaikan pada donjo-sys
/donjo-sys/

/node_modules/

/docs/.vitepress/dist

.php-cs-fixer.cache
/install.sid

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
