# Disable directory browsing
Options -Indexes +FollowSymLinks

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# Redirect to index.php if not a file or directory
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?$1 [L,QSA]
</IfModule>

ServerSignature Off
